In [1]:
# Importando bibliotecas utilizadas
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
from math import sqrt, pow
from datetime import datetime
from time import sleep

In [2]:
df = pd.read_csv('datasets/c2ds1-2sp.txt', sep='\t')
df.head()

  sample_label         d1         d2
0      c2sp1s1  10.500000   9.000000
1      c2sp1s2  10.567170   9.268445
2      c2sp1s3   8.275320  11.382210
3      c2sp1s4   8.227458  11.377640
4      c2sp1s5   8.179511  11.372110

In [3]:
df3 = pd.read_csv('datasets/monkey.txt', sep='\t')
df3.columns = ['identificador','d1', 'd2']
df3.head()

  identificador        d1         d2
0  monkeyc1g1s1  8.809783   7.611147
1  monkeyc1g1s2  4.110747  11.103186
2  monkeyc1g1s3  4.114710  11.039587
3  monkeyc1g1s4  3.154736   6.743244
4  monkeyc1g1s5  5.972931   7.537982

# Algoritmo

In [4]:
#Distancia Euclidiana
# Mudei a forma como é calculado para poder utilizar vetorização
def distancia_euclidiana(x1, y1, x2, y2):
    X = x1 - x2
    Y = y1 - y2
    
    X = X*X
    Y = Y*Y
    
    distancia = np.sqrt(X+Y)
    return distancia

In [5]:
def calcular_distancia_full_optimized(df):
    lista = []
    for i, row in df.iterrows():
        distancias = distancia_euclidiana(row['d1'], row['d2'], df[i+1:]['d1'].values, df[i+1:]['d2'].values)
        
        lista.append(distancias)
      
    return lista

In [6]:
def dist_matrix(df):
    lista = []
    for i, row in df.iterrows():
        distancias = distancia_euclidiana(row['d1'], row['d2'], df['d1'], df['d2'])
        
        lista.append(distancias)
      
    return lista

# Testes

In [7]:
df_menor = df[:10].copy()
df_menor

  sample_label         d1         d2
0      c2sp1s1  10.500000   9.000000
1      c2sp1s2  10.567170   9.268445
2      c2sp1s3   8.275320  11.382210
3      c2sp1s4   8.227458  11.377640
4      c2sp1s5   8.179511  11.372110
5      c2sp1s6   8.131500  11.365610
6      c2sp1s7   8.083443  11.358140
7      c2sp1s8   8.035361  11.349700
8      c2sp1s9   7.987270  11.340270
9     c2sp1s10   7.939200  11.329870

In [8]:
dists = distancia_euclidiana(10.5, 9, df_menor['d1'].values,df_menor['d2'].values)
dists

array([0.        , 0.27672103, 3.25946707, 3.28901492, 3.31836934,
       3.34752191, 3.37647331, 3.4052218 , 3.43375534, 3.46207898])

In [9]:
dists = distancia_euclidiana(10.5, 9, df_menor['d1'], df_menor['d2'])
dists

0    0.000000
1    0.276721
2    3.259467
3    3.289015
4    3.318369
5    3.347522
6    3.376473
7    3.405222
8    3.433755
9    3.462079
dtype: float64

In [30]:
%%timeit
teste = dist_matrix(df3)

401 ms ± 8.48 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [29]:
%%timeit

teste = calcular_distancia_full_optimized(df3)

1.19 s ± 70.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit

teste = calcular_distancia_full_optimized(df3)